:root{
    --font-1: "Jost";
    --color-1: #9B0623;
    --color-2: #D9A0AF;
    --color-3: #575757;
    --color-4: #FFF1F4;
    --color-5: white;
}


/*RESPONSIVE 1920PX*/
@media(max-width: 1920px){
    
    /*Inicio del Header*/
    header{
        width: 1920px;
        justify-content: space-evenly;
    }

    .logo{
        width: 60px;
        height: 65px;
        margin-left: 60px;
    }

    header ul li a{
        font-size: 20px;
    }

    header .menu .contactme{
        margin-right: 80px;
        font-size: 20px;
    }
    /*Fin del Header*/



    /*Inicio Seccion 'Inicio'*/    
    .inicio{
        width: 1920px;
    }

    .inicio img{
        width: 850px;
        height: 700px;
    }

    .inicio h2{
        font-size: 50px;
        display: flex;
        margin-top: 60px;
    }

    .inicio h1{
        font-size: 60px;
    }

    .inicio p{
        margin-bottom: 0px;
        font-size: 25px;
    }

    .container-1 .download{
        font-size: 22px;
        height: 70px;
        padding: 0px 20px;
    }
    /*Fin Seccion 'Inicio'*/


    /*Inicio de la Seccion 'Acerca de mi'*/
    .about{
        width: 1920px;
        scroll-margin-top: 95px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .about .titulo1{
        font-size: 23px;
    }

    .about h1{
        font-size: 40px;
    }

    .about .info{
        font-size: 23px;
        margin-bottom: 20px;
    }
    /*Fin de la Seccion 'Acerca de mi'*/


    /*Inicio de la Seccion 'Habilidades'*/
    .skills{
        width: 1920px;
        scroll-margin-top: 95px;
    }

    .skills h1{
        font-size: 20px;
    }

    .skills h2{
        font-size: 35px;
    }

    .skills-fila-izq{
        margin-bottom: 20px;
    }
    /*Inicio de la Seccion 'Habilidades'*/


    /*Inicio de la Seccion 'Servicios'*/
    .services{
        width: 1920px;
        scroll-margin-top: 95px;
    }

    .services h1{
        font-size: 23px;
        margin-bottom: 5px;
    }

    .services h2{
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .container-3 .service-1{
        margin-left: 750px;
        width: 400px;
        height: 300px;
    }

    .container-3 .service-1 h2{
        margin-top: 22px;
        margin-bottom: 25px;
        padding-left: 0;
    }
    /*Fin de la Seccion 'Servicios'*/


    /*Inicio de la Seccion 'Proyectos'*/
    .projects{
        width: 1920px;
        scroll-margin-top: 95px;
    }

    .projects h1{
        font-size: 23px;
    }

    .projects h2{
        font-size: 40px;
    }

    .cont-projects .project-1{
        margin-bottom: 40px;
        width: 700px;
        margin-right: 20px;
    }

    .cont-projects .project-1 img{
        width: 640px;
        height: 450px;
    }

    .cont-projects .project-1 h1{
        font-size: 25px;
    }

    .cont-projects .project-1 p{
        font-size: 18px;
    }

    .cont-projects .project-2{
        margin-left: 50px;
        margin-bottom: 40px;
        width: 700px;
    }

    .cont-projects .project-2 img{
        width: 640px;
    }

    .cont-projects .project-2 h1{
        font-size: 25px;
    }

    .cont-projects .project-2 p{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .projects .expand{
        font-size: 23px;
        margin-left: 890px;
    }
    /*Fin de la Seccion 'Proyectos'*/


    /*Inicio de la Seccion 'Contacto'*/
    .contact{
        width: 1920px;
    }

    .contact h1{
        font-size: 20px;
    }

    .contact h2{
        font-size: 30px;
    }

    .contact p{
        font-size: 22px;
    }

    .form .sec-1{
        display: inline;
    }

    
    .form .sec-1 .name input{
        font-size: 23px;
        width: 61.5%;
        padding-left: 15px;
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .form .sec-1 .email input{
        font-size: 23px;
        width: 57.5%;
        padding-left: 15px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .form .sec-2 .msg textarea{
        font-size: 23px;
        width: 1100px;
        height: 500px;
        margin-left: 40px;
        padding-top: 20px;
        padding-left: 18px;
    }

    .form .send{
        width: 1100px;
        font-size: 23px;
        padding: 15px 25px;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 30px;
        margin-bottom: 80px;
    }
    /*Fin de la Seccion 'Contacto'*/


    /*Inicio del Footer*/
    footer{
        width: 1920px;
    }

    footer .logo-f{
        width: 70px;
        height: 75px;
        margin-left: 50px;
        margin-right: 600px;
    }

    footer .menu-f a{
        line-height: 28px;
        font-size: 20px;
        font-weight: 450;
    }
}



/*RESPONSIVE 1440PX*/
@media(max-width: 1440px){
    
    /*Inicio del Header*/
    header{
        width: 1440px;
        justify-content: space-evenly;
    }

    .logo{
        width: 60px;
        height: 65px;
        margin-left: 30px;
    }

    header ul li a{
        font-size: 20px;
    }

    header .menu .contactme{
        margin-right: 80px;
        font-size: 20px;
    }
    /*Fin del Header*/



    /*Inicio Seccion 'Inicio'*/    
    .inicio{
        width: 1440px;
    }

    .inicio img{
        width: 700px;
        height: 500px;
    }

    .inicio h2{
        font-size: 50px;
        display: flex;
        margin-top: 60px;
    }

    .inicio h1{
        font-size: 60px;
    }

    .inicio p{
        margin-bottom: 0px;
        font-size: 25px;
    }

    .container-1 .download{
        font-size: 22px;
        height: 70px;
        padding: 0 15px;
    }
    /*Fin Seccion 'Inicio'*/


    /*Inicio de la Seccion 'Acerca de mi'*/
    .about{
        width: 1440px;
        scroll-margin-top: 95px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .about .titulo1{
        font-size: 20px;
    }

    .about h1{
        font-size: 35px;
    }

    .about .info{
        font-size: 18px;
        margin-bottom: 20px;
    }
    /*Fin de la Seccion 'Acerca de mi'*/


    /*Inicio de la Seccion 'Habilidades'*/
    .skills{
        width: 1440px;
        scroll-margin-top: 95px;
    }

    .skills h1{
        font-size: 20px;
    }

    .skills h2{
        font-size: 35px;
    }

    .skills-fila-izq{
        margin-bottom: 20px;
    }
    /*Inicio de la Seccion 'Habilidades'*/


    /*Inicio de la Seccion 'Servicios'*/
    .services{
        width: 1440px;
        scroll-margin-top: 95px;
    }

    .services h1{
        font-size: 20px;
        margin-bottom: 5px;
    }

    .services h2{
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .container-3 .service-1{
        margin-left: 560px;
    }

    .container-3 .service-1 h2{
        margin-top: 20px;
        margin-bottom: 25px;
        padding-left: 0;
    }
    /*Fin de la Seccion 'Servicios'*/


    /*Inicio de la Seccion 'Proyectos'*/
    .projects{
        width: 1440px;
        scroll-margin-top: 95px;
    }

    .projects h1{
        font-size: 20px;
    }

    .projects h2{
        font-size: 30px;
    }

    .cont-projects .project-1{
        margin-bottom: 40px;
        width: 500px;
        margin-right: 20px;
    }

    .cont-projects .project-1 img{
        width: 440px;
    }

    .cont-projects .project-1 h1{
        font-size: 20px;
    }

    .cont-projects .project-1 p{
        font-size: 15px;
    }

    .cont-projects .project-2{
        margin-left: 50px;
        margin-bottom: 40px;
        width: 500px;
    }

    .cont-projects .project-2 img{
        width: 440px;
    }

    .cont-projects .project-2 h1{
        font-size: 20px;
    }

    .cont-projects .project-2 p{
        font-size: 15px;
        margin-bottom: 20px;
    }

    .projects .expand{
        font-size: 23px;
        margin-left: 650px;
    }
    /*Fin de la Seccion 'Proyectos'*/


    /*Inicio de la Seccion 'Contacto'*/
    .contact{
        width: 1440px;
    }

    .contact h1{
        font-size: 20px;
    }

    .contact h2{
        font-size: 30px;
    }

    .contact p{
        font-size: 22px;
    }

    .form .sec-1{
        display: inline;
    }

    
    .form .sec-1 .name input{
        font-size: 23px;
        width: 69%;
        padding-left: 15px;
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .form .sec-1 .email input{
        font-size: 23px;
        width: 63%;
        padding-left: 15px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .form .sec-2 .msg textarea{
        font-size: 23px;
        width: 900px;
        height: 300px;
        margin-left: 40px;
        padding-top: 20px;
        padding-left: 18px;
    }

    .form .send{
        width: 900px;
        font-size: 23px;
        padding: 15px 25px;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 30px;
        margin-bottom: 80px;
    }
    /*Fin de la Seccion 'Contacto'*/


    /*Inicio del Footer*/
    footer{
        width: 1440px;
    }

    footer .logo-f{
        width: 70px;
        height: 75px;
        margin-left: 30px;
        margin-right: 60px;
    }

    footer .menu-f a{
        line-height: 28px;
        font-size: 20px;
        font-weight: 450;
    }
}



/*RESPONSIVE 1280PX*/
@media(max-width: 1280px){
    
    /*Inicio del Header*/
    header{
        width: 1280px;
    }

    .logo{
        width: 60px;
        height: 65px;
        margin-left: 30px;
    }

    header .menu .contactme{
        margin-right: 80px;
    }
    /*Fin del Header*/



    /*Inicio Seccion 'Inicio'*/    
    .inicio{
        width: 1280px;
    }

    .inicio img{
        width: 600px;
        height: 500px;
    }

    .inicio h2{
        font-size: 40px;
        display: flex;
        margin-top: 60px;
    }

    .inicio h1{
        font-size: 50px;
    }

    .inicio p{
        margin-bottom: 0px;
        font-size: 20px;
    }

    .container-1 .download{
        font-size: 20px;
        height: 70px;
        padding: 0 15px;
    }
    /*Fin Seccion 'Inicio'*/


    /*Inicio de la Seccion 'Acerca de mi'*/
    .about{
        width: 1280px;
        scroll-margin-top: 95px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .about .titulo1{
        font-size: 20px;
    }

    .about h1{
        font-size: 35px;
    }

    .about .info{
        font-size: 18px;
        margin-bottom: 20px;
    }
    /*Fin de la Seccion 'Acerca de mi'*/


    /*Inicio de la Seccion 'Habilidades'*/
    .skills{
        width: 1280px;
        scroll-margin-top: 95px;
    }

    .skills h1{
        font-size: 20px;
    }

    .skills h2{
        font-size: 35px;
    }

    .skills-fila-izq{
        margin-bottom: 20px;
    }
    /*Inicio de la Seccion 'Habilidades'*/


    /*Inicio de la Seccion 'Servicios'*/
    .services{
        width: 1280px;
        scroll-margin-top: 95px;
    }

    .services h1{
        font-size: 20px;
        margin-bottom: 5px;
    }

    .services h2{
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .container-3 .service-1{
        margin-left: 490px;
    }

    .container-3 .service-1 h2{
        margin-top: 20px;
        margin-bottom: 25px;
        padding-left: 0;
    }
    /*Fin de la Seccion 'Servicios'*/


    /*Inicio de la Seccion 'Proyectos'*/
    .projects{
        width: 1280px;
        scroll-margin-top: 95px;
    }

    .projects h1{
        font-size: 20px;
    }

    .projects h2{
        font-size: 30px;
    }

    .cont-projects .project-1{
        margin-bottom: 40px;
        width: 500px;
        margin-right: 20px;
    }

    .cont-projects .project-1 img{
        width: 440px;
    }

    .cont-projects .project-1 h1{
        font-size: 20px;
    }

    .cont-projects .project-1 p{
        font-size: 15px;
    }

    .cont-projects .project-2{
        margin-left: 50px;
        margin-bottom: 40px;
        width: 500px;
    }

    .cont-projects .project-2 img{
        width: 440px;
    }

    .cont-projects .project-2 h1{
        font-size: 20px;
    }

    .cont-projects .project-2 p{
        font-size: 15px;
        margin-bottom: 20px;
    }

    .projects .expand{
        font-size: 23px;
        margin-left: 580px;
    }
    /*Fin de la Seccion 'Proyectos'*/


    /*Inicio de la Seccion 'Contacto'*/
    .contact{
        width: 1280px;
    }

    .contact h1{
        font-size: 20px;
    }

    .contact h2{
        font-size: 30px;
    }

    .contact p{
        font-size: 22px;
    }

    .form .sec-1{
        display: inline;
    }

    
    .form .sec-1 .name input{
        font-size: 23px;
        width: 77%;
        padding-left: 15px;
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .form .sec-1 .email input{
        font-size: 23px;
        width: 70%;
        padding-left: 15px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .form .sec-2 .msg textarea{
        font-size: 23px;
        width: 900px;
        height: 300px;
        margin-left: 40px;
        padding-top: 20px;
        padding-left: 18px;
    }

    .form .send{
        width: 900px;
        font-size: 23px;
        padding: 15px 25px;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 30px;
        margin-bottom: 80px;
    }
    /*Fin de la Seccion 'Contacto'*/


    /*Inicio del Footer*/
    footer{
        width: 1280px;
    }

    footer .logo-f{
        width: 70px;
        height: 75px;
        margin-left: 20px;
    }

    footer .menu-f a{
        line-height: 28px;
        font-size: 18px;
        font-weight: 450;
    }
}


/*RESPONSIVE 1024PX*/
@media(max-width: 1024px){
    
    /*Inicio del Header*/
    header{
        width: 1024px;
    }

    .logo{
        width: 60px;
        height: 65px;
        margin-left: 20px;

    }
    /*Fin del Header*/



    /*Inicio Seccion 'Inicio'*/    
    .inicio{
        display: flex;
        width: 1024px;
    }

    .inicio img{
        width: 500px;
        height: 450px;
    }

    .inicio h2{
        font-size: 30px;
        display: flex;
        margin-top: 60px;
    }

    .inicio h1{
        font-size: 40px;
    }

    .inicio p{
        margin-bottom: 0px;
        font-size: 15px;
    }

    .container-1 .download{
        font-size: 17px;
        height: 70px;
        padding: 0 15px;
    }
    /*Fin Seccion 'Inicio'*/


    /*Inicio de la Seccion 'Acerca de mi'*/
    .about{
        width: 1024px;
        scroll-margin-top: 95px;
    }

    .about .titulo1{
        font-size: 20px;
    }

    .about h1{
        font-size: 35px;
    }

    .about .info{
        font-size: 18px;
        margin-bottom: 20px;
    }
    /*Fin de la Seccion 'Acerca de mi'*/


    /*Inicio de la Seccion 'Habilidades'*/
    .skills{
        width: 1024px;
        scroll-margin-top: 95px;
    }

    .skills h1{
        font-size: 20px;
    }

    .skills h2{
        font-size: 35px;
    }

    .skills-fila-izq{
        margin-bottom: 20px;
    }

    .skills-fila-izq, .skills-fila-med{
        width: 30%;
        padding-bottom: 10px;
    }
    /*Inicio de la Seccion 'Habilidades'*/


    /*Inicio de la Seccion 'Servicios'*/
    .services{
        width: 1024px;
        scroll-margin-top: 95px;
    }

    .services h1{
        font-size: 20px;
        margin-bottom: 5px;
    }

    .services h2{
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .container-3 .service-1{
        margin-left: 360px;
    }

    .container-3 .service-1 h2{
        margin-top: 20px;
        margin-bottom: 25px;
        padding-left: 0;
    }
    /*Fin de la Seccion 'Servicios'*/


    /*Inicio de la Seccion 'Proyectos'*/
    .projects{
        width: 1024px;
        scroll-margin-top: 95px;
    }

    .projects h1{
        font-size: 20px;
    }

    .projects h2{
        font-size: 30px;
    }

    .cont-projects .project-1{
        margin-bottom: 40px;
        width: 400px;
    }

    .cont-projects .project-1 img{
        width: 340px;
    }

    .cont-projects .project-1 h1{
        font-size: 20px;
    }

    .cont-projects .project-1 p{
        font-size: 15px;
    }

    .cont-projects .project-2{
        margin-left: 40px;
        margin-bottom: 40px;
        width: 400px;
    }

    .cont-projects .project-2 img{
        width: 340px;
    }

    .cont-projects .project-2 h1{
        font-size: 20px;
    }

    .cont-projects .project-2 p{
        font-size: 15px;
        margin-bottom: 20px;
    }

    .projects .expand{
        font-size: 23px;
        margin-left: 450px;
    }
    /*Fin de la Seccion 'Proyectos'*/


    /*Inicio de la Seccion 'Contacto'*/
    .contact{
        width: 1024px;
    }

    .contact h1{
        font-size: 20px;
    }

    .contact h2{
        font-size: 30px;
    }

    .contact p{
        font-size: 22px;
    }

    .form .sec-1{
        display: inline;
    }

    
    .form .sec-1 .name input{
        font-size: 23px;
        width: 78%;
        padding-left: 15px;
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .form .sec-1 .email input{
        font-size: 23px;
        width: 68.5%;
        padding-left: 15px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .form .sec-2 .msg textarea{
        font-size: 23px;
        width: 700px;
        height: 300px;
        margin-left: 40px;
        padding-top: 20px;
        padding-left: 18px;
    }

    .form .send{
        width: 700px;
        font-size: 23px;
        padding: 15px 25px;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 30px;
        margin-bottom: 80px;
    }
    /*Fin de la Seccion 'Contacto'*/


    /*Inicio del Footer*/
    footer{
        width: 1024px;
        height: 200px;
        justify-content: space-around;
    }

    footer .logo-f{
        width: 70px;
        height: 75px;
        margin-left: 20px;
    }

    footer .menu-f a{
        display: flex;
        line-height: 28px;
        font-size: 18px;
        font-weight: 450;
    }
}



/*RESPONSIVE 768PX*/
@media(max-width: 768px){
    
    /*Inicio del Header*/
    header{
        width: 768px;
    }

    .logo{
        width: 60px;
        height: 65px;
        margin-left: 30px;
    }

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 768px;
        height: 80vh;
        background: var(--color-1);
        top: 95px;
        left: -100%;
        text-align: center;
        transition: all 1s;
    }

    header ul li{
        display: block;
        margin: 40px 0;
        line-height: 10px;
    }

    header ul li a{
        font-size: 20px;
        color: var(--color-5);
    }

    li a::after, li a:hover:after{
        display: none;
    }

    header .menu .contactme{
        display: none;
    }

    #check:checked ~ ul{
        left: 0;
    }
    /*Fin del Header*/



    /*Inicio Seccion 'Inicio'*/
    .inicio img{
        width: 500px;
        height: 450px;
    }
    
    .inicio{
        display: flex;
        width: 770px;
    }

    .inicio h2{
        font-size: 30px;
        display: flex;
        margin-top: 20px;
    }

    .inicio h1{
        font-size: 40px;
    }

    .inicio p{
        margin-bottom: 0px;
        font-size: 15px;
    }

    .container-1 .download{
        font-size: 17px;
        height: 70px;
        padding: 0 15px;
    }
    /*Fin Seccion 'Inicio'*/


    /*Inicio de la Seccion 'Acerca de mi'*/
    .about{
        width: 770px;
        scroll-margin-top: 95px;
    }

    .about .titulo1{
        font-size: 20px;
    }

    .about h1{
        font-size: 35px;
    }

    .about .info{
        font-size: 18px;
        margin-bottom: 20px;
    }
    /*Fin de la Seccion 'Acerca de mi'*/


    /*Inicio de la Seccion 'Habilidades'*/
    .skills{
        width: 770px;
        scroll-margin-top: 95px;
    }

    .skills h1{
        font-size: 20px;
    }

    .skills h2{
        font-size: 35px;
    }
    /*Inicio de la Seccion 'Habilidades'*/


    /*Inicio de la Seccion 'Servicios'*/
    .services{
        width: 830px;
        scroll-margin-top: 95px;
    }

    .services h1{
        font-size: 20px;
        margin-bottom: 5px;
    }

    .services h2{
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .container-3 .service-1{
        margin-left: 260px;
    }

    .container-3 .service-1 h2{
        margin-top: 20px;
        margin-bottom: 25px;
        padding-left: 0;
    }
    /*Fin de la Seccion 'Servicios'*/


    /*Inicio de la Seccion 'Proyectos'*/
    .projects{
        width: 830px;
        scroll-margin-top: 95px;
    }

    .projects h1{
        font-size: 20px;
    }

    .projects h2{
        font-size: 30px;
    }

    .cont-projects{
        display: inline;
    }

    .cont-projects .project-1{
        margin-left: 130px;
        margin-bottom: 40px;
    }

    .cont-projects .project-1 h1{
        font-size: 25px;
    }

    .cont-projects .project-1 p{
        font-size: 18px;
    }

    .cont-projects .project-2{
        margin-left: 130px;
        margin-bottom: 40px;
    }

    .cont-projects .project-2 h1{
        font-size: 25px;
    }

    .cont-projects .project-2 p{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .projects .expand{
        font-size: 23px;
        margin-left: 320px;
    }
    /*Fin de la Seccion 'Proyectos'*/


    /*Inicio de la Seccion 'Contacto'*/
    .contact{
        width: 768px;
    }

    .contact h1{
        font-size: 20px;
    }

    .contact h2{
        font-size: 30px;
    }

    .contact p{
        font-size: 22px;
    }

    .form .sec-1{
        display: inline;
    }

    
    .form .sec-1 .name input{
        font-size: 23px;
        width: 79%;
        padding-left: 15px;
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .form .sec-1 .email input{
        font-size: 23px;
        width: 66%;
        padding-left: 15px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .form .sec-2 .msg textarea{
        font-size: 23px;
        width: 510px;
        height: 300px;
        margin-left: 40px;
        padding-top: 20px;
        padding-left: 18px;
    }

    .form .send{
        width: 510px;
        font-size: 23px;
        padding: 15px 25px;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 30px;
        margin-bottom: 80px;
    }
    /*Fin de la Seccion 'Contacto'*/


    /*Inicio del Footer*/
    footer{
        width: 768px;
        height: 200px;
    }

    footer .logo-f{
        width: 70px;
        height: 75px;
        margin-left: 20px;
    }

    footer .menu-f a{
        display: flex;
        line-height: 28px;
        font-size: 18px;
        font-weight: 450;
    }
}



/*RESPONSIVE 480PX*/
@media(max-width: 480px){
    
    /*Inicio del Header*/
    header{
        width: 480px;
    }

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 480px;
        height: 90vh;
        background: var(--color-1);
        top: 95px;
        left: -100%;
        text-align: center;
        transition: all 1s;
    }

    header ul li{
        display: block;
        margin: 40px 0;
        line-height: 10px;
    }

    header ul li a{
        font-size: 20px;
        color: var(--color-5);
    }

    li a::after, li a:hover:after{
        display: none;
    }

    header .menu .contactme{
        display: none;
    }

    #check:checked ~ ul{
        left: 0;
    }
    /*Fin del Header*/



    /*Inicio Seccion 'Inicio'*/
    .inicio img{
        display: none;
    }
    
    .inicio{
        width: 480px;
        display: flex;
        margin-left: 10px;
        margin-bottom: 60px;
    }

    .inicio h1{
        font-size: 40px;
    }

    .inicio h2{
        display: flex;
        font-size: 30px;
        width: 480px;
        margin-top: 20px;
    }

    .inicio p{
        margin-bottom: 0px;
        font-size: 15px;
    }

    .container-1 .download{
        font-size: 18px;
        padding: 5px 15px;
        margin-top: 20px;
    }
    /*Fin Seccion 'Inicio'*/


    /*Inicio de la Seccion 'Acerca de mi'*/
    .about{
        width: 480px;
    }

    .about .titulo1{
        font-size: 20px;
    }

    .about h1{
        font-size: 35px;
    }

    .about .info{
        font-size: 18px;
    }
    /*Fin de la Seccion 'Acerca de mi'*/


    /*Inicio de la Seccion 'Habilidades'*/
    .skills{
        width: 480px;
    }

    .skills h1{
        font-size: 20px;
    }

    .skills h2{
        font-size: 35px;
    }

    .skills-fila-izq{
        margin-bottom: 20px;
    }

    .skills-fila-izq, .skills-fila-med{
        width: 30%;
        padding-bottom: 10px;
    }
    /*Inicio de la Seccion 'Habilidades'*/


    /*Inicio de la Seccion 'Servicios'*/
    .services{
        width: 480px;
    }

    .services h1{
        font-size: 20px;
    }

    .services h2{
        font-size: 35px;
    }

    .container-3 .service-1{
        margin-left: 90px;
    }
    /*Fin de la Seccion 'Servicios'*/


    /*Inicio de la Seccion 'Proyectos'*/
    .projects{
        width: 480px;
    }

    .projects h1{
        font-size: 20px;
    }

    .projects h2{
        font-size: 35px;
    }

    .cont-projects{
        display: inline;
    }

    .cont-projects .project-1{
        margin-left: 25px;
        margin-bottom: 40px;
        width: 430px;
    }

    .cont-projects .project-1 img{
        margin-top: 15px;
        width: 370px;
        height: 200px;
    }

    .cont-projects .project-1 h1{
        font-size: 23px;
    }

    .cont-projects .project-1 p{
        font-size: 17px;
    }

    .cont-projects .project-2{
        margin-left: 25px;
        margin-bottom: 40px;
        width: 430px;
    }

    .cont-projects .project-2 img{
        margin-top: 15px;
        width: 370px;
        height: 200px;
    }

    .cont-projects .project-2 h1{
        font-size: 23px;
    }

    .cont-projects .project-2 p{
        font-size: 17px;
        padding-bottom: 20px;
    }

    .projects .expand{
        font-size: 18px;
        margin-left: 190px;
    }
    /*Fin de la Seccion 'Proyectos'*/


    /*Inicio de la Seccion 'Contacto'*/
    .contact{
        width: 480px;
    }

    .contact h1{
        font-size: 20px;
    }

    .contact h2{
        font-size: 35px;
    }

    .contact p{
        font-size: 23px;
    }

    .form .sec-1{
        display: inline;
    }

    
    .form .sec-1 .name input{
        font-size: 18px;
        width: 112%;
        padding-left: 15px;
        margin-left: 40px;
    }

    .form .sec-1 .email input{
        font-size: 18px;
        width: 84%;
        padding-left: 15px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .form .sec-2 .msg textarea{
        font-size: 18px;
        width: 400px;
        height: 300px;
        padding-top: 20px;
        padding-left: 18px;
        margin-right: 10px;
    }

    .form .send{
        width: 400px;
        font-size: 18px;
        padding: 15px 25px;
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 80px;
    }
    /*Fin de la Seccion 'Contacto'*/

    /*Inicio del Footer*/
    footer{
        width: 480px;
        height: 200px;
    }

    footer .logo-f{
        width: 70px;
        height: 75px;
    }

    footer .menu-f a{
        display: flex;
        line-height: 25px;
        font-size: 18px;
        font-weight: 450;
    }
}


/*RESPONSIVE 320PX*/
@media(max-width: 320px){
    
    /*Inicio del Header*/
    header{
        width: 320px;
    }

    header .logo{
        align-self: flex-start;
        margin-left: 20px;
    }

    .checkbtn{
        display: block;
    }

    header .menu .contactme{
        display: none;
    }
    /*Fin del Header*/


    /*Inicio Seccion 'Inicio'*/
    .inicio img{
        display: none;
    }
    
    .inicio{
        width: 100%;
        margin-left: 10px;
        display: flex;
        margin-bottom: 60px;
    }

    .inicio h2{
        display: flex;
        font-size: 25px;
        margin-top: 20px;
    }

    .inicio h1{
        font-size: 35px;
    }

    .inicio p{
        margin-bottom: 0px;
        font-size: 14px;
        width: 280px;
    }

    .container-1 .download{
        font-size: 18px;
        padding: 10px 20px;
        margin-top: 20px;
    }
    /*Fin Seccion 'Inicio'*/


    /*Inicio de la Seccion 'Acerca de mi'*/
    .about{
        width: 100%;
    }

    .about .titulo1{
        font-size: 18px;
    }

    .about h1{
        font-size: 30px;
    }

    .about .info{
        font-size: 15px;
    }
    /*Fin de la Seccion 'Acerca de mi'*/


    /*Inicio de la Seccion 'Habilidades'*/
    .skills{
        width: 100%;
    }

    .skills h1{
        font-size: 18px;
    }

    .skills h2{
        font-size: 30px;
    }

    .skills-fila-izq{
        margin-bottom: 20px;
    }

    .skills-fila-izq, .skills-fila-med{
        width: 30%;
        padding-bottom: 10px;
    }
    /*Inicio de la Seccion 'Habilidades'*/

    /*Inicio de la Seccion 'Servicios'*/
    .services{
        width: 320px;
    }

    .services h1{
        font-size: 18px;
    }

    .services h2{
        font-size: 30px;
    }

    .container-3 .service-1{
        margin-left: 30px;
        width: 260px;
    }
    
    .container-3 .service-1 p{
        font-size: 20px;
    }
    /*Fin de la Seccion 'Servicios'*/


    /*Inicio de la Seccion 'Proyectos'*/
    .projects{
        width: 100%;
    }

    .projects h1{
        font-size: 18px;
    }

    .projects h2{
        font-size: 30px;
    }

    .cont-projects{
        display: inline;
    }

    .cont-projects .project-1{
        margin-left: 20px;
        margin-bottom: 40px;
        width: 280px;
    }

    .cont-projects .project-1 img{
        margin-top: 15px;
        width: 220px;
        height: 200px;
    }

    .cont-projects .project-1 h1{
        font-size: 23px;
    }

    .cont-projects .project-1 p{
        font-size: 15px;
    }

    .cont-projects .project-2{
        margin-left: 20px;
        margin-bottom: 40px;
        width: 280px;
    }

    .cont-projects .project-2 img{
        margin-top: 15px;
        width: 220px;
        height: 200px;
    }

    .cont-projects .project-2 h1{
        font-size: 23px;
    }

    .cont-projects .project-2 p{
        font-size: 15px;
    }

    .projects .expand{
        font-size: 18px;
        margin-left: 100px;
    }
    /*Fin de la Seccion 'Proyectos'*/


    /*Inicio de la Seccion 'Contacto'*/
    .contact{
        width: 100%;
    }

    .contact h1{
        font-size: 18px;
    }

    .contact h2{
        font-size: 30px;
    }

    .contact p{
        font-size: 20px;
    }

    .form .sec-1{
        display: inline;
        align-items: center;
    }

    
    .form .sec-1 .name input{
        font-size: 18px;
        width: 145%;
        padding-left: 15px;
        margin-left: 16px;
    }

    .form .sec-1 .email input{
        font-size: 18px;
        width: 90%;
        padding-left: 15px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .form .sec-2 .msg textarea{
        font-size: 18px;
        width: 290px;
        height: 300px;
        padding-top: 20px;
        padding-left: 18px;
        margin-right: 10px;
    }

    .form .send{
        width: 290px;
        font-size: 18px;
        padding: 15px 25px;
        margin-top: 30px;
        margin-left: 16px;
        margin-right: 30px;
        margin-bottom: 80px;
    }
    /*Fin de la Seccion 'Contacto'*/

    /*Inicio del Footer*/
    footer{
        width: 320px;
    }

    footer .logo-f{
        margin-left: 20px;
        width: 70px;
        height: 75px;
    }

    footer .menu-f a{
        display: flex;
        line-height: 25px;
        font-size: 15px;
    }
    
}